{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}
    <section id="home">
        <h1 class="text-center">All articles from article's table : </h1>

        <div>
            {{ form_start(form) }}
            {{ form_row(form.searchField) }}
            <button type="submit" name="btnSearch" class="btn btn_item">Rechercher</button>
            {{ form_end(form) }}
        </div>

        {#
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        #}

        {% for article in articles %}
            <div>
                <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
                <p>slug = {{ article.slug }}</p>
                <p>{{ article.content }}</p>
            </div>
        {% else %}
            Aucun article trouvé.
        {% endfor %}
        <a href="{{ path('app_index') }}">
            Back to homepage.
        </a>
    </section>

{% endblock %}