{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <section id="articles">
        <div class="container">
            <h1 class="text-center">Articles index</h1>
            <div class="text-center mb-3">
                <a href="{{ path('article_new') }}" class="btn btn_item text-center">Create new article</a>
            </div>
            <div class="row">
                {% for article in articles %}

                    <div class="col-sm-12 col-md-3">
                        <div class="card my-3">
                            <img src="{{ article.picture }}" class="card-img-top" alt="{{ article.title }}">
                            <div class="card-body">
                                <h3 class="card-title text-center">{{ article.title | capitalize }}</h3>
                                <p class="card-text">{{ article.content }}</p>
                            </div>
                            <div class="card-footer text-center">Id n° {{ article.id }}</div>
                            <div class="card-footer text-center">slug = {{ article.slug }}</div>
                            <div class="card-footer text-center">Auteur = {{ article.author.email }}</div>
                            {% for tag in article.tags %}
                                <div class="card-footer text-center">tag : {{ tag.name }}</div>
                            {% else %}
                                <div class="card-footer text-center">No tag !</div>
                            {% endfor %}
                            <div class="card-footer">
                                <a type="button" href="{{ path('article_show', {'id': article.id}) }}"
                                   class="btn btn_item">show</a>
                                {% if is_granted('ROLE_AUTHOR') %}
                                    <a href="{{ path('article_edit', {'id': article.id}) }}"
                                       class="btn btn_item float-right">edit</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {#
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.content }}</td>
                        <td>
                            <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                            <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        #}

        </div>
    </section>
{% endblock %}
